body {
    background-color: #999;
}

#banner {
    color: #f00;
    padding: 20px;
    font-size: 18px;
}

#navigation .navbar {
    margin-top: 5px;
    background-color: #fff;
    border: 0px;
    border-radius: 0px;
}
#navigation #main-nav-collapse .subnav {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #666;
    color: #fff;
}
