.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.font-white {
    color: #fff;
}
.no-padding {
    padding: 0px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.tab-1 {
	padding-left: 2em;
}
.tab-2 {
	padding-left: 4em;
}
.tab-3 {
	padding-left: 6em;
}
.absolute {
	position: absolute;
}