<!--  visible sections -->
{% for container in page.containers %} 
	<div class="row layout-container-row" data-active-layout="{{container.layoutIdentifier}}">
		<div class="col-xs-10 cms-layout-content-area">		
		 	<div class="row">
		 		<div class="col-xs-12">
		 			<!-- layout section -->
		 			{% for row in container.rows %}
		 				<div class="row total-row-{{container.layout.totalRows}}">
		 					{% for child in row.children %}
		 						{% if child.rowFlag %}
		 							<div class="col-xs-{{child.width}} no-padding">
										{% for subchild in child.row.children %}
											<div class="col-xs-{{subchild.width}} total-row-{{row.totalRows}}">
												<div class="section" style="background-color: {{subchild.section.sectionType.color}};">
													<b>{{subchild.placeholder}}</b><br/>
													{{subchild.section.label}}<br/>
													{{subchild.section.sectionType.label}}
												</div>
											</div>
										{% endfor %}
										
									</div>
 								{% else %}
 									<div class="col-xs-{{child.width}}">
 										<div class="section" style="background-color: {{child.section.sectionType.color}};">
 											<b>{{child.placeholder}}</b><br/>
	 										{{child.section.label}}<br/>
		 									{{child.section.sectionType.label}}
 										</div>
	 									
	 								</div>
	 							{% endif %}
		 					{% endfor %}
		 				</div>
		 			{% endfor %}
		 		</div>
		 	</div>
		</div>
		
		<div class="col-xs-2 cms-layout-menubar" data-container-id="{{container.ID}}">
			<div class="cms-layout-menubar-content">
				{% for layout in layouts %}
					{% include 'admin/cms/layouteditor-miniview.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}




<!--  Modal for changing the section type -->
<div id="cms-layout-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Layout Section</h4>
			</div>
			<div class="modal-body">
				<p>
				Please note that <b>changing the section type</b> will <span class="highlight-high">delete</span> the configuration of the section (including text content).
				</p>
				<div class="row">
					<div class="col-xs-12">
						<label for="cms-layout-new-label">Label</label>
						<input type="text" class="form-control" id="cms-layout-new-label" />
					</div>
					
					<div class="col-xs-12">
						<label for="cms-layout-new-sectiontype">Type</label>
						<select id="cms-layout-new-sectiontype" class="form-control">
							{% for type in sectionTypes %}
								<option value="{{type.identifier}}">{{type.label}}</option>
							{% endfor %} 
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>


<!--  Modal for changing the layout of a container -->
<div id="cms-layout-switch-modal" class="modal fade" data-url="{{BASEURL}}/admin/api.php" data-action="cms/updateLayout">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Swtich Section</h4>
			</div>
			<div class="modal-body">
				<p>
				Switching the layout will re-arrange the pre-existing sections. Are you sure you want to switch layout?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">
					Change Layout
				</button>
			</div>
		</div>
	</div>
</div>