{% for section in page.sections %}
	<div class="section-container col-xs-12 col-md-{{section.width}}">
		<div data-section="{{section.ID}}" data-width="{{section.width}}" class="section" style="background-color: {{ section.sectionType.color }};">
			<select class="form-control">
				{% for type in sectionTypes %}
					<option value="{{type.view}}" {% if section.view == type.view %}selected{% endif %}>{{type.label}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
{% endfor %}

<div id="cms-layout-context" style="display: none;">
	<ul class="menu">
		<li id="remove-section">Remove Section</li>
		<li id="split-section">Split Section</li>
	</ul>
</div>

<div id="cms-layout-remove-modal" class="modal fade">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
      			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Remove Section</h4>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete the selected section? This will remove all the configuration parameters as well.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="cms-layout-delete-section-button">Delete Section</button>
			</div>
		</div>
	</div>
</div>