<div class="col-xs-12 layout" data-title="{{layout.identifier}}" data-placement="bottom">
	{% for row in layout.rows %}
		<div class="row total-row-{{layout.totalRows}}">
			{% for child in row.children %}
				{% if child.rowFlag %}
					<div class="row col-xs-12">
						{% for subchild in child.row.children %}
							<div class="col col-xs-{{subchild.width}} layout-child subchild total-row-{{row.totalRows}}">
								<p>
									<span>{{subchild.placeholder}}</span>
								</p>
							</div>
						{% endfor %}
					</div>
				{% else %}
					<div class="col col-xs-{{child.width}} layout-child">
						<p>
							<span>{{child.placeholder}}</span>
						</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endfor %}
</div>
