<div class="list-option">
	<a href="{{BASEURL}}/admin/backend?view=pages/pagelist">
		<i class="fa fa-arrow-left"></i> Back To List
	</a>
</div>

<div class="main-area">
	<h1>Create New Page</h1>

	<form action="{{BASEURL}}/admin/backend?view=pages/createpage" method="post">
		<div class="row">
	  		<div class="form-group col-xs-12 col-md-6">
	  			<label for="name">Name</label>
  				<input id="name" type="text" class="form-control" name="name" placeholder="Page Name"/>
	  		</div>
	  		<div class="form-group col-xs-12 col-md-6">
			  	<label for="parent">Parent</label>
		  		<select id="parent" name="parent" class="form-control">
		  			<option value="" selected>None</option>
		  			{% for page in rootPages %}
		  				<option value="{{page.ID}}">{{page.name}}</option>
		  				{# 2nd level pages #}
		  				{% if page.subPages %}
		  					{% for subPage in page.subPages %}
		  						<option value="{{subPage.ID}}">&raquo; {{subPage.name}}</option>
		  						{# 3rd level pages #}
		  						{% if subPage.subPages %}
				  					{% for subSubPage in subPage.subPages %}
				  						<option value="{{subSubPage.ID}}">&raquo; &raquo; {{subSubPage.name}}</option>
				  					{% endfor %}
				  				{% endif %}
		  					{% endfor %}
		  				{% endif %}
		  			{% endfor %}
		  		</select>
	  		</div>
	  	</div>
	  	
	  	<button type="submit" class="btn btn-primary">Create</button>
	</form>
</div>