@CHARSET "UTF-8";
button.btn-primary {
	background-color: #ff9e2a;
}
button.btn-primary:hover {
	background-color: #fca73e;
	box-shadow: 2px 2px 2px #ccc;
}
#admin {
	margin-top: 10px;
}
#admin .main-area h1 {
	border-bottom: 1px solid #ff9e2a;
	color: #ff9e2a;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
}

/* backend navigation */
#admin #navigation div.nav-entry {
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 10px;
}
#admin #navigation div.nav-entry:hover {
	background-color: #666;
	cursor: pointer;
}
#admin #navigation div.nav-entry:hover a {
	color: #fff;
}

/* list styles */
#admin .list-option {
	margin-bottom: 10px;
}
#admin .list-option a {
	text-decoration: none;
}
#admin .list-option a:hover {
	text-decoration: none;
}
#admin .list-header {
	background-color: #666;
	color: #fff;
	padding: 5px;
	padding-left: 20px;
}
#admin .list-container {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: 0px;
}
#admin .list-entry {
	margin: 0px;
	color: #f00;
	padding: 5px;
}
#admin .list-entry:nth-child(even) {
	background-color: #fefefe;
}
#admin .list-entry:nth-child(odd) {
	background-color: #f3f3f3;
}
#admin .list-container .list-entry:hover {
	background-color: #FFDFBA;
}

#admin .tree i.fa-plus,
#admin .tree i.fa-minus {
	margin-left: -15px;
	margin-top: 3px;
	cursor: pointer;
}

/* basic layout editor styles */
#admin #cms-layout {
	padding-top: 10px;
	margin: -10px;
	cursor: col-resize;
}
#admin #cms-layout .section-container {
	padding: 10px;
}
#admin #cms-layout .section {
	border: 1px solid #aaa;
	padding: 15px;
	height: 100px;
	cursor: hand;
}
#admin #cms-layout .section.hover {
	background-color: #579 !important;
}

/* context menu for right click (layouteditor) */
#cms-layout-context {
	position: absolute;
	top: 0px;
	left: 0px;
}
#cms-layout-context ul.menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#cms-layout-context ul.menu li {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 5px 10px;
}
#cms-layout-context ul.menu li:hover {
	background-color: #666;
	color: #fff;
	cursor: pointer;
}

/* CMS Overlay */
#cms-layout-overlay {
	position: absolute;
	background-color: #696;
	opacity: 0.5;
	color: #fff;
	height: 100px;
	text-align: center;
	line-height: 3;
	font-size: 20px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-weight: 700;
}
#admin #cms-layout #cms-layout-buttons {
	margin: 0px -5px;
}
#admin #cms-layout #cms-layout-buttons button {
	width: 80px;
}