<nav class="navbar navbar-default">
	<div class="container-fluid" id="main-nav-collapse">	
		<div class="nav-entry home-icon">
			<a href="#">
				<i class="fa fa-home"></i>
			</a>
		</div>	
	
		{% for item in entries %}
			<div class="nav-entry" {% if item.subNavigation %}data-nav-id="{{item.ID}}" {% endif %}>
				<!-- main navigation entry -->
				<a href="{{constant('BASEURL')}}{{item.target}}">
					{% if item.icon %} <i class="fa {{item.icon}}"></i> {% endif %}
					{{item.label}} 
				</a>
				<!-- sub navigation -->
				{% if item.subNavigation %}
					<div style="display: none;" class="subnav" data-nav-content="{{item.ID}}">
						{% for sub in item.subNavigation %}
							<a class="col-xs-6 col-md-3" href="{{constant('BASEURL')}}{{sub.target}}">
								<i class="fa fa-power-off"></i>
								<span>{{sub.label}}</span>
							</a>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</nav>
